*, ::before, ::after{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: 0 200px;
}
.pokemon-container{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;

}