.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: green;
    height: 150px;
    width: 150px;
    color: white;
}
.text-center{ /* reactstrap */
    text-align: center;
}
.heading1{
    font-size: 2.5rem;
}
.heading2{
    font-size: 2rem;
}
.element-center{
    display: flex;
    justify-content: center;
}