.dropdownBgRedColor{
    background-color: red;
}
.dropdownBgBlueColor{
    background-color: blue;
}
.dropdownBgGreenColor{
    background-color: green;
}
.dropdownBgYellowColor{
    background-color: yellow;
}
.dropdownBgOrangeColor{
    background-color: orange;
}